	<% jobs.each do |job| %>
		<div class="view-container">
		  	<div class="asas">
	  	<% unless @skills.blank? %>
		  	<% @skills.where(job_id: job.id).each do |skill| %>
		  		<%= skill.id %><br />
		  	<% end %>
			<% end %>
	  	</div>
	    <p class="list-title"><%= link_to job.title, job %></p>
	    <p>
	    	<%= link_to '<i class="glyphicon glyphicon-user"></i> '.html_safe + job.user.try(:name), user_path(:id => job.user_id) %>
	  	</p>
	  	<p><%= job.description %></p>
	  	<p>
				<%= render partial: "jobs/feedbacks", locals:{ job: job, show_worker: true } %>
	  	</p>
	
		</div>
	<% end %>