<h1>Listing jobs</h1>
<% @jobs.each do |job| %>
	<div class="row">
  	<div class="col-md-8">
			<div id="j-<%= job.id %>" class="view-container">
				<div class="row">
					<div class="col-md-8">								
						<p class="list-title"><%= link_to job.title, job %></p>
						<p>
							<%= link_to '<i class="glyphicon glyphicon-user"></i> '.html_safe + job.user.try(:name), user_path(:id => job.user_id) %>
						</p>
						<p><%= job.description %></p>
						<p><%= job.start_date %></p>
					</div>
					<div class="col-md-4">
						<% @hire = current_user.rolable.hires.where(:hires => {:job_id => job.id}).first %>
						<%= render :partial => "jobs/hire", :locals => { :job => job } %>	
					</div>
				</div>
			</div>
  	</div>
	</div>
<% end %>

